
	
	<div class="bands row container2">
	#if($bands)
		<h2>Most recent reviews</h2>
			#foreach ($band in $bands)
				<h3><a href="/bands/$band.getId()">$band.getName()</a></h3>
			#end
	#else
		<p>No new bands</p>
	#end

	</div>
